<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UniversitySheduleContainer" connectionString="metadata=res://*/Data.UniversityShedule.csdl|res://*/Data.UniversityShedule.ssdl|res://*/Data.UniversityShedule.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NICK-WIN7\SQLEXPRESS;Initial Catalog=shedule;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>